@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  overflow: hidden;
}

.container {
  width: 815px;
  height: 100vh;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 35px;
}
.aside__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.start__btn,
.next__btn {
  cursor: pointer;
  padding: 5px 8px;
  position: relative;
  background: #485563;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: #fff;
  border-radius: 0 0 0 0%/0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.start__btn:hover,
.next__btn:hover {
  border-radius: 0 0 50% 50%/0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.start__btn:active,
.next__btn:active {
  background: #000;
}
.start__btn:focus, .start__btn:focus-within,
.next__btn:focus,
.next__btn:focus-within {
  outline: none;
  border-color: #fff;
}
.start__btn:disabled,
.next__btn:disabled {
  background: #304352;
  color: #d7d2cc;
  cursor: not-allowed;
}
.start__btn:disabled:hover,
.next__btn:disabled:hover {
  border-radius: 0 0 0 0%/0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.next__btn {
  background: #5691c8;
}

.select__options {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #fff;
  padding: 5px 8px;
  background: #485563;
  border: 1px solid transparent;
  border-radius: 0 0 0 0%/0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.select__options:hover {
  border-radius: 0 0 50% 50%/0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}
.select__options:active {
  background: #000;
}
.select__options:focus, .select__options:focus-within {
  outline: none;
  border-color: #fff;
}
.select__options:disabled {
  background: #304352;
  color: #d7d2cc;
  cursor: not-allowed;
}
.select__options:disabled:hover {
  border-radius: 0 0 0 0%/0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
}

.navbar {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px #485563;
  background: #485563;
  color: #fff;
  width: 220px;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.navbar__live-title, .navbar__points {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
}
.navbar__live-title::after, .navbar__points::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}
.navbar__list {
  list-style: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navbar__list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__list li::before {
  content: "‣";
  color: #fff;
  display: block;
}

.remember-way__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.remember-way__container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  margin-top: 66px;
  border: 1px solid #2b2b30;
  background: #485563;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.remember-way__current-level {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  background: #485563;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.remember-way__level-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Courgette", cursive;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
  background: #485563;
}

.close {
  background: #7e4442;
}

.open {
  background: #177e4d;
}

.start {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d537e;
}

.square-border {
  border: 2px solid #2b2b30;
}

.no-cursor {
  cursor: none;
}

/*# sourceMappingURL=style.css.map */
