$gray: lightslategray;
$white: #fff;
$darkGray: slategrey;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: url('../img/colorful-boxes-abstract-background-14652478.jpg') center/cover;
}

.container {
  width: 950px;
  margin: 0 auto;
  padding: 35px 50px;
  position: relative;
  height: 100vh;
  background: #34495e;
  border: solid 5px $gray;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  display: flex;
  justify-content: space-between;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 35px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.start__btn,
.next__btn {
  font-size: 18px;
  padding: 5px 8px;
  background: none;
  position: relative;
  background: $gray;
  border: none;
  color: $white;
  border-radius: 0 0 0 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;

  &:hover {
    border-radius: 0 0 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background: black;
  }
}

.select {
  &__wrapper {
    background: $gray;
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: 500;
    line-height: 20px;
    color: $white;
  }

  &__options {
    color: $gray;
  }
}

.navbar {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px $gray;
  background: $darkGray;
  color: $white;
  width: 220px;
  min-height: calc(100vh - 130px);
  padding: 20px 10px;

  &__live-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: $white;
  }

  &__points {
    color: $white;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    font-size: 16px;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.remember-way {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid #2b2b30;
    margin: 66px auto 0;
  }

  &__current-level {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 20px;
    line-height: 20px;
    color: $white;
    font-weight: 600;
    padding: 5px 10px;
    background: $gray;
    text-transform: uppercase;
  }

  &__level-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    background: $darkGray;
  }
}

.close {
  background: #7e4442;
}

.open {
  background: #177e4d;
}

.start {
  background: #0d537e;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: none;
}

.difficult {
  border: none;
}

.square-border {
  border: 2px solid #2b2b30;
}
