// colors:
$gray: #8e9eab;
$white: #fff;
$gray: #485563;
$black: #000;
$hoverShadow: rgba(0, 0, 0, 0.25);
$shadow: rgba(0, 0, 0, 0.15);
$blue: #5691c8;
$brown: #7e4442;
$green: #177e4d;
$startColor: #0d537e;
$borderCl: #2b2b30;
$bg: #8bc6ec;
$bg2: #9599e2;
$disabledBg: #304352;
$disabledCl: #d7d2cc;
// font-size:
$sm: 14px;
$md: 16px;
$xs: 18px;
$xl: 20px;
$lg: 26px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

body {
  background-color: $bg;
  background-image: linear-gradient(135deg, $bg 0%, $bg2 100%);
  overflow: hidden;
}

.container {
  width: 815px;
  height: 100vh;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 35px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.start__btn,
.next__btn {
  cursor: pointer;
  padding: 5px 8px;
  position: relative;
  background: $gray;
  border: 1px solid transparent;
  font-size: $md;
  line-height: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: $white;
  border-radius: 0 0 0 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px $shadow;
  transition: all 0.4s ease;

  &:hover {
    border-radius: 0 0 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px $hoverShadow;
  }

  &:active {
    background: $black;
  }

  &:focus,
  &:focus-within {
    outline: none;
    border-color: $white;
  }

  &:disabled {
    background: $disabledBg;
    color: $disabledCl;
    cursor: not-allowed;
  }

  &:disabled:hover {
    border-radius: 0 0 0 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px $shadow;
  }
}

.next__btn {
  background: $blue;
}

.select {
  &__options {
    cursor: pointer;
    font-size: $md;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: $white;
    padding: 5px 8px;
    background: $gray;
    border: 1px solid transparent;
    border-radius: 0 0 0 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px $shadow;
    transition: all 0.4s ease;

    &:hover {
      border-radius: 0 0 50% 50% / 0% 0% 5% 5%;
      box-shadow: 10px 10px $hoverShadow;
    }

    &:active {
      background: $black;
    }

    &:focus,
    &:focus-within {
      outline: none;
      border-color: $white;
    }

    &:disabled {
      background: $disabledBg;
      color: $disabledCl;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border-radius: 0 0 0 0% / 0% 0% 0% 0%;
      box-shadow: 20px 20px $shadow;
    }
  }
}

.navbar {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px $gray;
  background: $gray;
  color: $white;
  width: 220px;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;

  &__live-title,
  &__points {
    color: $white;
    font-size: $xs;
    line-height: 20px;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 100%;
      background: $white;
    }
  }

  &__list {
    list-style: none;
    font-size: $md;
    color: $white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      &::before {
        content: '‣';
        color: $white;
        display: block;
      }
    }
  }
}

.remember-way {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    margin-top: 66px;
    border: 1px solid $borderCl;
    background: $gray;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  &__current-level {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: $xl;
    line-height: 20px;
    color: $white;
    font-weight: 600;
    padding: 5px 10px;
    background: $gray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

  &__level-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-family: 'Courgette', cursive;
    font-size: $xs;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    background: $gray;
  }
}

.close {
  background: $brown;
}

.open {
  background: $green;
}

.start {
  font-size: $lg;
  font-weight: 500;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $startColor;
}

.square-border {
  border: 2px solid $borderCl;
}

.no-cursor {
  cursor: none;
}
